body {
  font-family: "arial","meiryo",sans-serif;
}

.fontspace {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing : auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
  }
.underline { 
  border-bottom: solid 3px; width: auto; 
  border-color:rgb(115, 115, 114);
} 

.blue {
 color: #a0d8ef;
}

.pink {
  color: rgb(255,192,203);
}

.text-pink {
  color:rgb(255,192,203);
}

.text-blue {
  color:#a0d8ef;
}

.decoration {
  text-align: center;
}

.fontspace {
  letter-spacing: 1.2em;
}

.fontspace {
  text-shadow: 1px 1px 2px gray;
}
.line {
  border-top: solid 3px rgb(115,115,114)
}

.text-weight {
  font-weight: bold;
}