h1 {
  margin: 0px 0px;
  margin-bottom: 20px;
  background-color:rgb(244, 79, 79);
  text-align: center;
 }

.decoration{
  color:rgb(255, 255, 255);
}

p {
  margin: 0px 0px;
  font-size: 20px;
}

a {
font-size: 20px;
color:rgb(255, 255, 255);
}

body {
  margin: 0px 0px;
}

#parent {
  margin: 10px 0px;
  justify-content: space-around;
  display: flex;
  }

.contents {
 border: solid 3px rgb(238, 204, 204);
 flex-basis: 25%;
 padding: 10px 15px;
 margin: 20px 0px;
 position: relative;
 text-align: center;
}

.underline {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122); 
}

h2::before {
  content: "●";
  color:rgb(239, 111, 139);
}

p:nth-of-type(2)::first-letter{
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.main {
  display: inline-block;
}

.content-img {
  margin: 10px 0px;
  width: 100%;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

a:visited {
  color: #788d98;
}

a:hover {
  color:rgb(245, 178, 168);
}

.picture {
  width: 100%;
}
 
.central {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
    display: flex;
    }
  h2 {
  font-size: 30px;
  }
  p {
  font-size: 25px;
  }
  #parent {
   display: flex;
   flex-direction: column;
  }
  .content {
  margin: 20px auto ;
  max-width: 70%; 
  }
}